
.color {
  width:18px;
  height: 18px;
  margin: 5px;
  float:left
}

.color :hover {
  border: 1px solid white;
  border-radius: 5px;
}

.selected-color {
  border: 1px solid #455A64;
  border-radius: 5px;
}


.picker {
  display: inline-block;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(3, 1, 1, 0.08);
}
